.callout {
	position: relative;
	padding: 2.5em;
	background-color: var(--c-blue-500);
	border-radius: 6px;

	.callout-title,
	span {
		font-family: 'Rammetto One', sans-serif;
		font-size: 1.5em;
	}
}

.callout::after {
	content: '';
	clip-path: polygon(0px 0px, 100% 0px, 50% 100%);
	background: var(--c-blue-500);
	position: absolute;
	width: 40px;
	height: 20px;
	bottom: -20px;
	left: 40px;
}
