@import url('reset.css');
@import url('timeline.css');
@import url('callout.css');
@import url('profile.css');
@import url('skills.css');
@import url('projects.css');
@import url('resources.css');

*,
*:before,
*:after {
	scrollbar-color: #c1c1c1 var(--c-grey-100);
	scrollbar-width: thin;
}

:root {
	--c-grey-100: #f0f0f0;
	--c-grey-200: #e5e5e5;
	--c-grey-300: #ffffff;
	--c-grey-400: #7a7a7a;
	--c-white-500: #000000; /* inverse of dark mode white text */
	--c-blue-500: #e0e4f5;
	--space-small: 3em;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	background-color: var(--c-grey-300);
	color: var(--c-white-500);
}

.container {
	background-color: var(--c-grey-300);
	max-width: 80vh;
	margin: 3em auto;
	padding: 0 8px;
}

section,
nav,
article,
.profile {
	margin-top: var(--space-small);
}

nav {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

nav .nav-item {
	font-family: 'Rammetto One', sans-serif;
	background: none;
	cursor: pointer;
	text-align: center;
	font-weight: 500;
	border: 1px #000 dashed;
	transition: all 300ms ease-out 0s;
	font-size: 1rem;
	padding: 4px 10px;
	color: #333;
	flex: 1;
	text-decoration: none;

	&:hover,
	&.active {
		background-color: #272325;
		border: 1px #ccc dashed;
		color: #fbfae1;
	}
}

.links {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.contact .links {
	display: flex;
	flex-flow: column;
	gap: 10px;
	overflow-wrap: break-word;
}

.highlight {
	font-weight: bold;
	color: #b44600;
}

.resources,
.diagram {
	margin-top: 2em;
}

.profile-description .links p {
	font-weight: 400;
	display: inline;
	font-size: 1em;
	color: #4a4a4a;
}

.contact {
	border: 1px #000 dashed;
	padding: 2em;
}

.alert {
	display: flex;
	gap: 12px;

	span {
		font-size: 1.5em;
	}
}

#loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

#typing-element {
	display: inline;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: -1;
}

@media (max-width: 700px) {
	.timeline {
		border: 0;
		padding: 0;
	}

	.timeline-item-icon {
		display: none;
	}

	.container {
		padding: 0 2em;
	}

	.alert,
	.callout {
		font-size: 12px;
	}

	.profile-description {
		font-size: 14px;

		h1 {
			font-size: 16px;
		}
	}

	.filter {
		flex-flow: column;
	}

	.legend .legend-text {
		font-size: 14px;
	}

	.legend-color {
		width: 10px;
		height: 10px;
	}
}
