.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 200px;
	gap: 5px;

	.project-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border: 5px solid var(--c-blue-500);
		border-radius: 5px;
		text-align: center;
		transition: transform 0.2s, box-shadow 0.2s;
	}

	p {
		background-color: var(--c-blue-500);
		width: 100%;
	}
}

.projects .project-item:hover {
	border: 3px solid #c3e88d;
	transform: translateY(-5px);
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal-container {
	max-height: 90vh;
	margin-left: auto;
	margin-right: auto;
	background-color: #222429;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	max-width: 40vw;

	@media (max-width: 1024px) {
		max-width: 90%;
	}
}

.modal-container-header {
	padding: 16px 32px;
	border-bottom: 1px solid #3f4249;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.modal-container-title {
	font-weight: 500;
	font-size: 1em;
}

.modal-container-body {
	padding: 32px 42px;
	overflow-y: auto;
}

.modal-container-footer {
	padding: 20px 32px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #3f4249;
	gap: 12px;
	position: relative;
}

.custom-slider-container img {
	max-width: 100%;
}

.icon-button {
	border: 0;
	background-color: transparent;
	display: flex;
	cursor: pointer;
	svg {
		width: 24px;
		height: 24px;
		color: #3f4249;
	}
}

.filter {
	display: flex;
	margin: 2em auto;
	gap: 5px;

	.filter-item {
		font-family: 'IBM Plex Mono', monospace;
		background: none;
		cursor: pointer;
		text-align: center;
		font-weight: 500;
		border: 1px solid var(--c-blue-500);
		transition: all 300ms ease-out 0s;
		font-size: 1rem;
		padding: 4px 10px;
		color: #dadada;
		flex: 1;

		&:hover,
		&.active {
			background-color: #c3e88d;
			color: #272325;
		}
	}
}
