.timeline {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	padding: 32px 0 32px 32px;
	border-left: 1px solid #424e5d;
	font-size: 1.125rem;

	img {
		display: block;
		max-width: 100%;
	}
}

.timeline-item {
	display: flex;
	gap: 24px;

	& + .extra-space {
		margin-top: 48px;
	}
}

.timeline-item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: -52px;
	flex-shrink: 0;
	overflow: hidden;
	box-shadow: 0 0 0 6px var(--c-grey-300);
	svg {
		width: 20px;
		height: 20px;
	}

	&.filled-icon {
		background-color: var(--c-grey-300);
		color: #c3e88d;
	}
}

.timeline-item-description {
	display: flex;
	padding-top: 6px;
	gap: 8px;
	color: var(--c-grey-400);

	img {
		flex-shrink: 0;
	}
	a {
		color: var(--c-white-500);
		font-weight: 500;
		text-decoration: none;
		&:hover,
		&:focus {
			outline: 0;
			color: var(--c-blue-500);
		}
	}
}

.timeline .avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	background-color: #e9edf1;
	&.small {
		width: 28px;
		height: 28px;
	}

	img {
		object-fit: cover;
	}
}

.timeline-detail {
	margin-top: 12px;
	color: var(--c-grey-500);
	border: 1px solid var(--c-grey-200);
	border-radius: 6px;
	padding: 16px;
	font-size: 1rem;
}

.timeline-detail ul li {
	list-style-type: square;
	margin-left: 16px;
	color: #bdbdbd;
}
